{% extends 'layouts/base_accounts.html'%}

{% load static %}

{% block title %}Password Reset{% endblock %}
{% block headerCss %}
{% endblock %}
<!-- Content -->
{% block content %}
<hr>
<div class="container">
    <!--Section: Block Content-->
    <section class="mb-5 text-center">

      <p>Enter your email address and we’ll send a link to reset your password</p>
    
      <form method="POST" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <div class="md-form md-outline">
          <input name="email" type="text" id="email" class="form-control">
          <label for="email">Your email</label>
        </div>
        <!-- Messages -->
        {% if messages %}
          {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">{{ message|safe }}</div>
          {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-primary mb-4">Request password</button>
    
      </form>
    
      <div class="d-flex justify-content-between align-items-center mb-2">
    
        <u><a href="{% url 'login' %}">Back to Log In</a></u>
    
        <u><a href="{% url 'register' %}">Register</a></u>
    
      </div>
    
    </section>
    <!--Section: Block Content-->
</div>
{% endblock %}
<!-- End: content -->
{% block footerJs %}
{% endblock %}